<div class="container" fxLayout="row" fxLayout.lt-sm="column">
    <div class="donation-form" fxFlex=50>
        <div class="form-size">
            <h1>Оставить пожертвование</h1>
            <form novalidate [formGroup]="donationForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                <p>
                    <span matLine>Выберите сумму ($)</span> <br>
                    <mat-slider class="full-width" formControlName="amount" [min]="min" [max]="max" [step]="step"
                        [thumbLabel]="thumbLabel">
                    </mat-slider>
                </p>
                <p>
                    <mat-form-field class="half-width">
                        <input matInput formControlName="contact_name" placeholder="Введите ваше имя" type="text"
                            required>
                        <mat-error
                            *ngIf="donationForm.get('contact_name').hasError('required') && donationForm.get('contact_name').touched">
                            Введите имя!</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="half-width">
                        <input matInput formControlName="email" placeholder="Введите email" type="email" required>
                        <mat-error
                            *ngIf="donationForm.get('email').hasError('required') && donationForm.get('email').touched">
                            Введите email!</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width">
                        <textarea matInput formControlName="message" placeholder="Оставьте сообщение"
                            rows=12></textarea>
                    </mat-form-field>
                </p>
                <button type="submit" mat-button class="submit-button" (click)="onSubmit()"
                    [disabled]="donationForm.status == 'INVALID'">Подтвердить</button>
            </form>
        </div>
    </div>
    <div class="donations-left" fxFlex=50 fxLayout="column" fxLayoutGap="30px">
        <h1> Уже пожертвовали</h1>
        <mat-list>
            <div *ngFor="let donation of donations" class="donation-list-item">
                <mat-list-item>
                    <h3 matLine> $ {{donation.amount}}. {{donation.contact_name }}</h3>
                    <p matLine class="donation-email"> {{donation.email}} </p>
                    <p matLine class="donation-message">
                        {{donation.message}}
                    </p>
                    <p matLine>
                        {{donation.date}}
                    </p>
                </mat-list-item>
            </div>
        </mat-list>
    </div>
</div>