<mat-toolbar class="app-menu" color="primary">
    <a routerLink=""><img src="/assets/images/site-logo.png" height=50 width=50 alt="site-logo"></a>
    <div class="flex-spacer"></div>
    <a mat-button routerLink=""><span class="fa fa-paw fa-lg"></span> Животные</a>
    <a mat-button routerLink="aboutus"><span class="fa fa-info fa-lg"></span> О нас</a>
    <a mat-button routerLink="donation"><span class="fa fa-money fa-lg"></span> Оставить пожертвование</a>
</mat-toolbar>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="15px">

    <div fxFlex fxFlex.gt-sm="60%">
        <h1>Приют для животных</h1>
        <p>В нашем мини-приюте вы можете найти себе питомца по душе и тем самым осчастливить себя и вашего будущего
            любимца. Если же вы не хотите брать котика к себе, но желаете ему помочь, можете взять на себя кураторство.
            Оно бывает разным: от поиска хозяев до финансового обеспечения (корм, лечение).
            Посмотреть приглянувшегося вам кота можно предварительно написав нам и договорившись о встрече.
            Учтите, забирая питомца к себе навсегда, вы подписываете договор и акт передачи животного, для нас это
            гарантия что с собакой все будет в порядке и вы готовы возложить на себя ответственность за вашего питомца.
        </p>
    </div>
    <div class="flex-spacer"></div>
    <div fxFlex fxFlex.gt-sm="20%">
        <img src="/assets/images/site-logo.png" width="100%">
    </div>
    <div fxFlex></div>
</div>