<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let pet of pets" class="pet-card" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{pet.name}}</mat-card-title>
                    <mat-card-subtitle>{{pet.kind}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="pet_image" src="{{pet.image_path}}" alt={{pet.name}}>
                <mat-card-content>
                    <p>
                        {{pet.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button><i class="fa fa-phone"></i> Позвонить</button>
                    <button mat-button><i class="fa fa-address-book" aria-hidden="true"></i> Написать</button>
                    <button mat-button (click)="onSelect(pet)"><i class="fa fa-info"></i> Детали
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>


<div class="pet-details"></div>
<app-petdetails *ngIf="selectedPet" [pet]="selectedPet"></app-petdetails>