.footer {
  background-color: rgb(237, 248, 252);
  margin: 0;
  padding: 50px;
}

.btn-facebook {
  color: #fff !important;
  background-color: #3b5998 !important;
}

.btn-google-plus {
  color: #fff !important;
  background-color: #dd4b39 !important;
}

.btn-mail {
  color: #fff !important;
  background-color: #512DA8 !important;
}

.btn-phone {
  color: #fff !important;
  background-color: rgb(25, 126, 0);
}
