<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h3>Ссылки</h3>
        <mat-list>
          <mat-list-item><a mat-button>Животные</a></mat-list-item>
          <mat-list-item><a mat-button>О нас</a></mat-list-item>
          <mat-list-item><a mat-button>Сделать пожертование</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h3>Контакты</h3>
        <address style="font-size: 90%">
          606 501<br> Нижегородская область, г. Нижний Новрогод<br> ул. Львовская 1в<br>
          <i class="fa fa-phone"></i>: +7 999 123 123<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:petshelter@test.com">petshelter@test.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
      <a mat-icon-button class="btn-phone"><i class="fa fa-phone fa-lg"></i></a>
    </div>
  </div>
</div>